/WTF/Account/130282038#1/
/Interface/AddOns/Blizzard_*
/Interface/AddOns/Zygor*
/AskMrRobotClient
/Cache
/Data
/Errors
/Logs
/Screenshots
/Utils
/down
*.md5
*.exe
*.dll
*.zip
*.mfil
*.app
.curseclient
.product.db
.patch.result
.build.info
Launcher.db
Config.wtf

