/WTF/Account/*
!/WTF/Account/MINGER
/Interface/AddOns/Blizzard_*
/WTF/Account/MINGER/SavedVariables/Blizzard_*
/WTF/Account/MINGER/SavedVariables/!BugGrabber.lua
/Interface/AddOns/Zygor*
/AskMrRobotClient
/Cache
/Data
/Errors
/Logs
/Screenshots
/Utils
/down
*.md5
*.exe
*.dll
*.zip
*.mfil
*.app
*.patch
.curseclient
.product.db
.patch.result
.build.info
Launcher.db
Config.wtf
config-cache.old
config-cache.wtf
layout-local.txt
chat-cache.txt
AddOns.txt
Blizzard_CombatLog.lua
*.lua.bak
CUFProfiles.*


